.card{
    background-color:grey;
    width: 300px;
    border: 3px solid aqua;
}
.imagen{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.nombre{
    font-size: 1em;
}
.precio{
    font-size: .8em;
}